body {
  background-image: url("/images/pixabay.jpg");
  background-size: auto;
  opacity: 0.95;
  color: white;
}

a:link {
  color: lightblue;
}

a:visited {
  color: lightgreen;
}

a:hover {
  color: pink;
}

a:active {
  color: lavender;
}