<% if current_user.errors.any? %>
<h1>Something Went Wrong: </h1>
<h3><%=current_user.errors.full_messages.to_sentence%></h3>
<% end %>

<p>This is where you edit your email</p>
<p>Do Not Change Anything You Do Not Want Changed</p>

<form method=POST  action="/users">
    <input type=hidden name=_method value=PATCH>
    <p><label for="email">Your E-mail: </label>
    <input id="email" type="text" name="email" value=<%=current_user.email%>></p>
    <p><label for="name">Your Name: </label>
    <input id="name" type="text" name="name" value=<%=current_user.name%>></p>
    <p>Leave password blank if you don't want to change it.</p>
    <p><label for="password">Your Password: </label>
    <input id="password" type="password" name="password"  ></p>
    <p><input type="submit" value="Submit Update"></p>
</form>
<form method=POST  action="/users">
    <input type=hidden name=_method value=DELETE>
        <p><input type="submit" value="Delete Account"></p>
</form>

     <nav>
     <p><a href="/users/home">Your Dash-Board</a></p>
     </nav> 
     <nav>
     <p><a href="/logout">Logout</a></p>
     </nav>  
