<p>This is where you edit your email</p>

<form method=POST  action=<%=""%>>
    <input type=hidden name=_method value=PATCH>
    <p><label for="email">Your E-mail: </label>
    <input type="text" name="email" value=""></p>
    <p><input type="submit" value="Submit New Email"></p>
</form>

     <nav>
     <p><a href="/users/home">Your Dash-Board</a></p>
     </nav> 
     <nav>
     <p><a href="/logout">Logout</a></p>
     </nav>  
