     <p>Change your username </p>
     <p>Change your email </p>
     <p>See a list of games won </p> 
     <p>See a list of games lost </p> 
     <p>See a list of total games played </p> 

     <nav>
     <p><a href="/games/index">List of All Games</a></p>
     </nav>
     <nav>
     <p><a href="/">Game Home Page</a></p>
     </nav>               
     <nav>
     <p><a href="/logout">Logout</a></p>
     </nav>     
