     <p>Welcome <%=current_user.name%> </p>
     <p>Change your account <a href="/users/edit">details</a></p>
     <p>See a list of your <a href="/mygames" >games</a></p>

     <nav>
     <p><a href="/games">List of All Games</a></p>
     </nav>
     <nav>
     <p><a href="/logout">Logout</a></p>
     </nav>     
