     <p>Welcome <%=current_user.name%> </p>
     <p>Change your <a href="/users/<%=current_user.id%>/edit">email/password</a></p>
     <p>See a list of games won </p> 
     <p>See a list of games lost </p> 
     <p>See a list of total games played </p>
     <p>See a list of your <a href="/mygames" >games</a></p>

     <nav>
     <p><a href="/games">List of All Games</a></p>
     </nav>
     <nav>
     <p><a href="/logout">Logout</a></p>
     </nav>     
