
        <form method="POST" action="/users/login">
            <p><label for="email">Your E-mail: </label>
            <input type="text" name="email" value=""></p>
            <p><label for="password">Your Password: </label> 
            <input type="text" name="password" value=""></p> 
           <p><input type="submit" value="Login"></p>
        </form>
     <nav>
     <p><a href="/">Game Home Page</a></p>
     </nav>
