
    <p><%= @error %></p>
        <form method="POST" action="/users">
            <p>New User Account:</p>
            <p><label for="f_name">Your First Name: </label> 
            <input type="text" name="f_name" value=""></p>
            <p><label for="l_name">Your Last Name </label> 
            <input type="text" name="l_name" value=""></p>
            <p><label for="username">Your UserName: </label> 
            <input type="text" name="username" value=""></p>
            <p><label for="password">Your Password: </label> 
            <input type="password" name="password" value=""></p>
            <p><label for="email">Your Email: </label> 
            <input type="text" name="email" value=""></p>
            <p><input type="submit" value="Create"></p>
        </form>
     <nav >
     <p><a href="/">Game Home Page</a></p>
     </nav>
