
    <p><%= @error %></p>
        <form method="POST" action="/users">
            <p>New User Account:</p>
            <p><label for="name">Your Name: </label> 
            <input type="text" name="name" value=""></p>
            <p><label for="email">Your Email: </label> 
            <input type="text" name="email" value=""></p>            
            <p><label for="password">Your Password: </label> 
            <input type="password" name="password" value=""></p>
            <p><input type="submit" value="Create"></p>
        </form>
     <nav >
     <p><a href="/">Game Home Page</a></p>
     </nav>
