     <form method="POST" action="/games">
          <p><input type="submit" value="Play a New Game"></p>
     </form>

     <nav>
     <p><a href="/mygames">List of My Games</a></p>
     </nav>    
     <nav>
     <p><a href="/users/home">Your Dash-Board</a></p>
     </nav>             
     <nav>
     <p><a href="/">Game Home Page</a></p>
     </nav>
     <nav>
     <p><a href="/logout">Logout</a></p>
     </nav>

