<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Kim's Game:</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/></head>
  <link rel="stylesheet" href="/stylesheets/layout.css">
   <body>
    <%= yield %>

    <footer >
      <p class="licence">Licence <a href='https://opensource.org/licenses/MIT'>MIT</a> Kimberly A Kohel-Hayes</p>
    </footer>
  </body>
</html>                   