    <nav>
    <p><a href="/users/new">New User</a></p>
    </nav>      
    <nav>
    <p><a href="/users/login">Login</a></p>
    </nav>      
    <nav>
    <p><a href="/games">Games</a></p>
    </nav>
    <p align = "left">"Who Done It?" is an open source game based on the concept of Hasbro's Clue.</br> There will be 11 rooms in the Hotel, 6 guests and 6 innocous objects.</br> The goal is to move from room to room making guesses as to "Who Done It?"
    </p> 
